@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700&family=Inter:wght@200;400;500;600&display=swap");

body {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box;
  background: #191919;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #dbdbdb;
}

.train__title {
  font-size: 23px;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  letter-spacing: -0.35px;
}

table {
  background: #353535;
  padding: 3px;
  border-radius: 5px;
  width: 500px;
}

tr,
td {
  border: 2px solid #535353;
  border-radius: 5px;
  font-family: "Inter", sans-serif;
  letter-spacing: -0.15px;
  font-weight: 600;
}

td {
  background: #2e2e2e;
  padding: 5px 8px;
}

tr:first-child td {
  background: #393939;
}

.train-crud__form {
  margin-top: 8px;
  /* background: #f00; */
  padding: 40px 0;
  border: 2px solid #353535;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  width: 500px;
}

.train-crud__form-title {
  font-size: 21px;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  letter-spacing: -0.35px;
  text-align: center;
  margin-bottom: 24px;
}

.train-crud__form-label {
  font-size: 12px;
  margin-bottom: -1px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: -0.3px;
  margin-left: 62px;
  color: #606060;
}

.train-crud__form-input {
  margin-bottom: 12px;
  width: 250px;
  margin-left: 60px;
  outline: none;
  font-size: 17px;
  background: transparent;
  border: 2px solid #353535;
  border-radius: 8px;
  padding: 4px;
  color: #a0a0a0;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  letter-spacing: -0.25px;
}

.train-crud__form-submit {
  margin-left: 60px;
  width: 100px;
  padding: 8px 12px;
  outline: none;
  border-radius: 8px;
  background: rgb(102, 159, 235);
  background: linear-gradient(
    56deg,
    rgba(102, 159, 235, 1) 0%,
    rgba(177, 42, 204, 1) 100%
  );
  border: none;
  color: #dbdbdb;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  letter-spacing: -0.25px;
  margin-top: 8px;
  cursor: pointer;
}
